@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

:root {
  --transition: all 0.25s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  --light-shadow-reverse: 0 -2px 5px rgba(0, 0, 0, 0.1);
  --dark-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --solid-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), 9px 9px var(--white),
    10px 10px var(--gold);
  --max-width: 1170px;
  --mobile: 900px;
  /* COLORS*/
  --grigio: #919191; /*145, 145, 145*/
  --grigio-medio: #bdbdbd; /*145, 145, 145*/
  --grigio-chiaro: #f8f8f8; /*248, 248, 248*/

  --blue-chiarissimo: #f4f5fd; /*244, 245, 253*/
  --blue-medio: #03a9f4; /*3, 169, 244*/
  --blue-scuro: #323c4e; /*50, 60, 78*/

  --gold-1: #c4a363; /*196, 163, 99*/
  --gold-2: #a88b13;
  --white: #ffffff;

  /* CSS HEX */
  --melon: #fec5bbff;
  --pale-pink: #fcd5ceff;
  --misty-rose: #fae1ddff;
  --seashell: #f8edebff;
  --platinum: #e8e8e4ff;
  --platinum-2: #d8e2dcff;
  --linen: #ece4dbff;
  --unbleached-silk: #ffe5d9ff;
  --peach-puff: #ffd7baff;
  --peach-crayola: #fec89aff;

  /* CSS HSL */
  --melon: hsla(9, 97%, 86%, 1);
  --pale-pink: hsla(9, 88%, 90%, 1);
  --pale-pink-transparent: hsla(9, 88%, 90%, 0.6);
  --misty-rose: hsla(8, 74%, 92%, 1);
  --seashell: hsla(9, 48%, 95%, 1);
  --platinum: hsla(60, 8%, 90%, 1);
  --platinum-2: hsla(144, 15%, 87%, 1);
  --linen: hsla(32, 31%, 89%, 1);
  --unbleached-silk: hsla(19, 100%, 93%, 1);
  --peach-puff: hsla(25, 100%, 86%, 1);
  --peach-crayola: hsla(28, 98%, 80%, 1);

  --border-radius: 4px;
  --color-text: var(--blue-scuro);
  --color-primary: var(--melon);
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-family: "Caveat", cursive;
  --font-variant: "Cinzel", serif;
  --font-adjust: 1.5rem;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

*,
::after,
::before {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--pale-pink-transparent);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  background-color: var(--seashell);
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background: linear-gradient(var(--white), var(--seashell));
}
main {
  min-height: 75vh;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-loose);
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-variant);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-variant);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
.font-variant {
  font-family: var(--font-variant);
}

/* END DEFAULT */
.navbar {
  margin: 0 auto;
  padding: var(--space-2) var(--space-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-right {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.layout {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--size-gutter);
  display: grid;
  grid: auto 1fr auto / 1fr;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.pic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 80vw;
}

.appear {
  animation: appear 1.2s ease-in 1 forwards;
  animation-delay: var(--delay);
  opacity: 0;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
.jump {
  animation: jump 0.4s ease-in 1 forwards;
  animation-delay: var(--delay);
  transform: translateY(100px);
}

@keyframes jump {
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.moving {
  animation: moving 1.3s steps(2, jump-none) infinite;
}
@keyframes moving {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.date {
  width: fit-content;
  margin: 5rem auto;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue-medio);
  border-bottom: 2px solid var(--blue-medio);
}

.animated-pics {
  position: relative;
  height: 480px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.animated-pics div {
  position: absolute;
}
.alternate-A {
  animation: alternate-A 2s steps(2, jump-none) infinite;
}
@keyframes alternate-A {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.alternate-B {
  animation: alternate-B 2s steps(2, jump-none) infinite;
}
@keyframes alternate-B {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alternateABC-A {
  animation: alternateABC-A 2.5s steps(3, jump-none) infinite;
}
@keyframes alternateABC-A {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.alternateABC-B {
  animation: alternateABC-B 2.5s steps(3, jump-none) infinite;
}
@keyframes alternateABC-B {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.alternateABC-C {
  animation: alternateABC-C 2.5s steps(3, jump-none) infinite;
}
@keyframes alternateABC-C {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.text {
  font-size: 1.5rem;
}
.title {
  font-size: 2rem;
}

@media screen and (min-width: 900px) {
  html {
    font-size: var(--font-adjust);
  }
  .date {
    font-size: 5rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 1.2rem;
  }
}

/* GALLERY */
.gallery-category {
  margin-bottom: 4rem;
}
.gallery-container {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--white);
  box-shadow: inset 2px 2px 2px 2px var(--seashell),
    inset -2px -2px 2px 2px var(--seashell);
}
.image-frame span {
  width: 250px !important;
  height: 200px !important;
  position: relative !important;
}
.image-frame {
  position: relative !important;
  transition: var(--transition);
  box-shadow: 2px 2px 2px 2px transparent, -2px -2px 2px 2px transparent;
}
.image-frame:hover,
.image-frame:focus {
  transform: scale(1.03);
  z-index: 1;
  box-shadow: 2px 2px 2px 2px var(--seashell), -2px -2px 2px 2px var(--seashell);
}
.image-frame img {
  object-fit: cover;
}
.pic-title {
  position: absolute;
  bottom: -20px;
  left: 10px;
  text-shadow: 1px 1px 1px var(--pale-pink-transparent);
  width: fit-content;
  height: fit-content;
  padding-right: 5px;
}
